* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body { background-color: #fdfdfd; }

.container {
   padding: 20px 0;
}

.galeria {
   margin-left: 26.5%;
   width: 76%;
   margin-top: 1.5em;
   margin-bottom: 1.5em;
}

section div {
   margin-top: 15%;
}

.carousel-item img {
   height: 22em;
}

@media screen and (max-width: 870px) {
   .galeria {
      width: 95%;
      margin-left: 2.7em;
   }
}

@media screen and (max-width: 766px) {
   .galeria {
      margin-left: 1em;
      width: 100%;
   }
}

@media screen and (max-width: 411px) {
   .galeria {
      width: 110%;
      margin-left: 1px;
   }

   .carousel-item img {
      height: 18em;
   }
}

@media screen and (max-width: 360px) {
   .galeria {
      height: 10em;
   }

   .carousel-item img {
      height: 14em;
   }
}