* {
   box-sizing: border-box;
}

body { background-color: #fcfcfc; }

.titulo {
   width: 100%;
   padding: 0.3em;
   background-image: linear-gradient(260deg, #4CB8C4, #516395);
   color: white;

   text-shadow: 2px 1px 3px #333;
}

.paragrafo {
   text-indent: 3.3em;
   text-align: justify;
}

.botao {
   position: sticky;
   float: right;
   bottom: 3px;

   margin: 2em;

   outline: none;
   border: none;

   background-color: transparent; 
}

.botao a {
   text-decoration: none;
   color: white;
}

.botao img {
   height: 2em;
}