html {
  scroll-behavior: smooth;
}

.barraLateral {
	background-color: #333;
	color: white;
  margin: 0;
  padding: 0;
  overflow: auto;

  position: fixed;	
	width: 22%; height: 100%;
  
  font-size: 0.7em;
}

.itemBarra {
   display: block;
   color: white;
   padding: 15px;
   border-radius: 5px;

   transition: 100ms;   
}
   .itemBarra:hover {
      transform: scale(1.02);      
      background-color: gray;
      color: white;
      text-decoration: none;
   }

.logoIF {
  width: 88%;   
  content: url(../img/descubraoif_logo.png);
  padding: 0;
  margin: 0;
}

.itemBarra {
   font-size: 1.4em;
   margin: 9.4px;
}

@media screen and (max-width: 870px) {
  .barraLateral {
    width: 100%;
    height: auto;
  }

  .itemBarra {
    display: inline-block;
    float: right;

    margin-top: 2.5%;
  }
    .itemBarra:hover {
      transform: scale(1.05);
    }

  #conteudo {
    margin-top: 13%;
  }

  .rede { display: none; }

  .logoIF {
    width: 12%;
    height: auto;
    float: left;
  } 
}

@media screen and (max-width: 415px) {
   
   .barraLateral {
      width: 100%;
   }

  .itemBarra {
    text-align: center;
    float: none;
  }

  .logoIF {
    width: 35%;
    float: left;
  }
}