.barraNav {
   background-color: #333;
   padding: 5px;    
   display: flex;
   color: white;  

   position: sticky;
   top: 0;
   z-index: 0;

   flex-direction: column;
}

.barraNav_link {
   padding: 20px;
}

.barraNav_link-botao {
   align-self: flex-end;
   display: initial;
   position: absolute;

   margin-top: 0.2em;
}

.barraNav_itens {
   display: none;
   flex-direction: column;
   text-align: center;
}
   .barraNav_itens a {
      text-decoration: none;
      color: white;    
   }

   .barraNav_itens:visited { color: white; }

   .barraNav_itens a:hover {
      background-color: gray;
      text-decoration: none;
      color: white;
      border-radius: 10px;
      padding: 15px;
   }

.barraNav_show {
   display: flex;
}

.barraNav_hide {
   display: none;
}

.logoIF {
   width: 23%;
   content: url('../imgs/descubraoif_logo.png');
   float: left;
}

.tituloSite a {
   float: left;
   margin-top: 7%;
   margin-left: 7%;
   color: white;
   text-decoration: none;

   font-size: 3.3vh;
}
   .tituloSite a:visited {
      color: white;
   }


@media screen and (min-width: 411px) {
   .barraNav {
      height: 5em;
   }

   .barraNav_link-botao {
      top: -4.25em;
      position: relative;
   }

   .barraNav_itens a {
      font-size: 1.3em;
   }
}

@media screen and (min-width: 550px) {
   .logoIF {
      width: 20%;
   }

   .tituloSite a {
      font-size: 4vh;
      margin-top: 6%;
   }

   .barraNav_link-botao {
      margin-top: -3.8em;
      font-size: 3.5vh;
   }
}

@media screen and (min-width: 610px) {
   .barraNav {
      height: 6.25em;
   }

   .logoIF {
      width: 20%;
   }

   .tituloSite a {
      margin-top: 6%;
   }

   .barraNav_link-botao {
      margin-top: 0.5em;
   }
}

@media screen and (min-width: 700px) {
   .tituloSite a {
      margin-left: 2%;
   }

   .barraNav_link-botao {
      margin-top: 0.4em;
   }
}

@media screen and (min-width: 768px) {
   .barraNav {
      padding: 0;
      height: 7.5em;
   }

   .barraNav_link-botao {
      margin-top: 0.7em;
   }   
}

@media screen and (min-width: 1000px) {
   .barraNav {
      height: 5em;
   }

   .barraNav_link-botao { display: none; }

   .barraNav_itens {
      display: flex;
      flex-direction: row;
      align-self: flex-end;

      margin-right: 12%;
   }

   .barraNav_sociais {
      display: flex;
      margin-top: 0.6%;
   }

   .barraNav_itens a {     
      font-size: 2.5vh;
   }
      .barraNav_itens a:hover {
         padding: 0;
         background: none;
         text-decoration: underline;
         text-underline-position: under;
      }

   .tituloSite a {
      margin-top: 3%;
   }

   .logoIF {
      width: 10%;
   }

   .barraNav_link {
      padding: 15px;
   }

   .barraNav_itens {
      align-self: auto;
      margin-left: 39%;
      margin-top: -8%;
   }
}

@media screen and (min-width: 1280px) {   
   .logoIF {
      width: 7%;
   }

   .barraNav {
      height: 12vh;
   }

   .tituloSite a {
      margin-top: 1.8%;
   }

   .barraNav_itens {
      margin-left: 47%;
      margin-top: -6%;
   }

   .barraNav_sociais {
      margin-top: -0.6%;
   }
}

@media screen and (min-width: 1360px) {
   .barraNav {
      height: 12.5vh;
   }

   .tituloSite a {
      margin-top: 1.8%;
   }

   .barraNav_itens {
      margin-left: 47%;
      margin-top: -5.7%;
   }

   .barraNav_sociais {
      margin-top: 0%;
   }
}